.container{
    padding: 0 0 16px 0;
    width: 232px;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.container:hover{
    scale: 1.03;
}
.container h2,.favoritar{
    padding: 0 1em;
    font-size: 18px;
}
.capa{
    width: 100%;
}
.favoritar{
    cursor: pointer;
    width: 20px;
}
.link{
    text-decoration: none;
    color: var(--preto);
    text-align: left;
}

@media(max-width:768px){
    .container{
        padding: 0 0 16px 0;
        width: 100%;
        max-width: 250px;
    }
    .container h2,.favoritar{
        padding: 0 1em;
        font-size: 8px;
    }
    .favoritar{
        cursor: pointer;
        width: 10px;
    }
}
