.texto h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}
@media(max-width:768px){
    .texto h1{
        font-size: 10px;
        text-align: center;
        font-weight: 500;
    }
}