.container{
    display: flex;
    justify-content: space-around;
}
@media(max-width:768px){
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}